@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25 0% 100%;
    --foreground: 25 0% 10%;
    --card: 25 0% 100%;
    --card-foreground: 25 0% 15%;
    --popover: 25 0% 100%;
    --popover-foreground: 25 95% 10%;
    --primary: 25 96% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 25 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -13 10% 95%;
    --muted-foreground: 25 0% 40%;
    --accent: -13 10% 90%;
    --accent-foreground: 25 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 25 0% 100%;
    --border: 25 20% 82%;
    --input: 25 20% 50%;
    --ring: 25 96% 54%;
    --radius: 0.5rem;
    --grid-color: 220 80% 56%;
    --grid-color-major: 220 80% 60%;
    --grid-color-minor: 220 70% 50%;
  }
  
  .dark {
    --background: 25 10% 5%;
    --foreground: 25 0% 90%;
    --card: 25 0% 0%;
    --card-foreground: 25 0% 90%;
    --popover: 25 10% 5%;
    --popover-foreground: 25 0% 90%;
    --primary: 25 96% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 25 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -13 10% 15%;
    --muted-foreground: 25 0% 60%;
    --accent: -13 10% 15%;
    --accent-foreground: 25 0% 90%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 25 0% 90%;
    --border: 25 20% 18%;
    --input: 25 20% 18%;
    --ring: 25 96% 54%;
    --radius: 0.5rem;
    --grid-color: 220 80% 75%;
    --grid-color-major: 220 80% 80%;
    --grid-color-minor: 220 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}